---
layout: page
---
<div class="post">
  <article>
  <hr>
    {% if page.organisations %}
      {% for organisation in page.organisations %}
        {% assign organisation_logo_path = organisation.logo | prepend: '/assets/img/' %}
          <div>
           <!-- Logo -->
           {%
            include figure.liquid
            loading="eager"
            path=organisation_logo_path
            sizes = "(maxwidth: 200px) 200px"
            class="preview z-depth-1 rounded"
            zoomable=false
            alt=organisation.name
          %}
          {{ organisation.name }}
          {{ organisation.url }}
          {{ organisation.description }}
      </div>
      {% endfor %}

        <div class="clearfix">
          {% if organisation.content %}
            {% capture organisation_content %}{% include_relative {{ organisation.content }} %}{% endcapture %}
            {{ organisation_content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
    {% endif %}
  </article>
</div>
